.forecast-container {
  display: flex;
  flex-direction: column;
}

.forecast-container .day-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: var(--space-xs) 0;
}

.forecast-container .day-container > * {
  display: flex;
  justify-content: flex-start;
}

.forecast-container .icon {
  width: 30px;
  height: 30px;
}

.forecast-container .date {
  color: var(--clr-text-muted);
}

.forecast-container .temp {
  font-weight: var(--fw-regular);
}
