.gauge {
  --percent: calc(43%/2);
  --clr-gauge: #378add;
  width: 200px;
  aspect-ratio: 1/1;

  background: conic-gradient(
    from 270deg,
    var(--clr-gauge) 0%,
    var(--clr-gauge) var(--percent),
    #333 var(--percent),
    #333 50%
  );

  border-radius: 50%;

  transition: --percent 0.3s ease;
}

.gauge.suntime {
  margin-top: 10px;
}

.circle.suntime {
  transform: scale(0.88);
}

.gauge-container {
  position: relative;

  width: 200px;
  height: 100px;
  overflow: hidden;
}

.circle {
  position: absolute;
  width: 200px;
  aspect-ratio: 1/1;

  transform: scale(0.8);

  border-radius: 50%;

  background-color: var(--clr-hl-bg);
}

.sky-marker {
  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-bottom: -10px;
  transform-origin: center 90px;
  transition: transform 0.3s ease;
  filter: drop-shadow(var(--drop-shadow-sm));
}

.sky-marker svg {
  width: 20px;
  height: 20px;
  position: relative;
  display: block;
}

.scale {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 6px;
  font-size: 11px;
  color: #888;
}

@property --percent {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}
