.hl-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: var(--space-sm);
}

.hl-container .features-container {
  flex: 1;
  display: flex;
  justify-content: space-between;

  gap: var(--space-sm);
}

.hl-container .subcontainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  background-color: var(--clr-hl-bg);

  border-radius: var(--radius-xl);
  padding: var(--space-md);
  gap: var(--space-xs);
}

.hl-container .subcontainer .title {
  font-weight: var(--fw-regular);
}

.hl-container .subcontainer .data {
  font-size: var(--fs-xl);
  font-weight: var(--fw-semibold);
}

.hl-container .bottom-container {
  display: flex;
  align-items: flex-end;
  gap: var(--space-2xs);
}

.hl-container .unit {
  margin-bottom: var(--space-2xs);

  color: var(--clr-text-muted);
}
