body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px;
}

/* CONTENT */
.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;

  gap: 10px;
}

/* CONDITION CONTAINER */

/* HIGHLIGHT CONTAINER */

/* FORECAST CONTAINER */

/* MAP CONTAINER */
