body {
  background-color: var(--clr-bg-main);

  margin: 0;
  height: 100vh;
  width: 100vw;

  font-family: var(--font-inter);
  color: var(--clr-text-main);

  overflow-y: auto;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--space-lg);
  padding-bottom: 0px;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar #logo {
  display: flex;
  justify-content: center;
}

.navbar #toggle-temp {
  background-color: var(--clr-toggle);

  border-radius: 50%;

  width: 30px;
  height: 30px;

  margin-right: var(--space-lg);

  transition: 0.2s ease;
}

.navbar #toggle-temp:hover {
  background-color: var(--clr-toggle-hover);
}

.navbar #toggle-temp:active {
  transform: scale(1.1);
}

.navbar #search-bar,
#search-btn {
  background-color: var(--clr-primary);
  border-radius: var(--radius-xl);
  color: var(--clr-text-search);
  padding: 6px;
}

.navbar #search-bar {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar #search-bar:focus,
#search-bar:active {
  border: none;
  outline: none;
}

.navbar #search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  cursor: pointer;

  transition: 0.2s ease;
}

.navbar #search-btn:hover {
  background-color: var(--clr-primary-hover);
}

/* COMPONENTS */
svg {
  pointer-events: none;
}

button {
  background: transparent;
  border: none;
}

input {
  border: none;
}

/* CONTENT */
.content {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 1fr 2fr;

  height: 100%;
  gap: var(--space-md);

  padding: var(--space-lg);
}

.content > .container {
  background-color: var(--clr-bg-surface);

  border-radius: var(--radius-xl);
  padding: var(--space-xl);
}

.condition-container .icon,
.forecast-container .icon {
  width: clamp(24px, 4vh, 72px);
  height: clamp(24px, 4vh, 72px);
}
