body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px;
}

/* CONTENT */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
